# ────────────────
# General
# ────────────────
*.log
*.tmp
*.swp
*.bak
.DS_Store
Thumbs.db


# ────────────────
# Node.js
# ────────────────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnpm-debug.log

# ────────────────
# Python
# ────────────────
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/
.env
.venv/
env/
venv/

# ------------------
# Terraform / OpenTofu
# ------------------
**/.terraform/
**/.terraform.lock.hcl
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
override.tf
crash.log

# ────────────────
# LocalStack
# ────────────────
.localstack/
localstack/volume/
localstack_tmp/
**/**/volume/
labs/localstack/localstack-setup/volume/cache/

# ────────────────
# VSCode / IDEs
# ────────────────
.vscode/
.idea/
*.code-workspace

# ────────────────
# CI/CD
# ────────────────
coverage/
*.lcov
.nyc_output/
.env.test
test-results/
junit.xml
